.gmail-img{
	max-width:50%;
    max-height:50%;
    margin-top:20;
    vertical-align: middle;
}

.yahoo-img{
	max-width:10%;
    max-height:10%;
    margin-top:100px;
    vertical-align: middle;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
  max-width:10%;
    max-height:10%;
    margin-top:100px;
    vertical-align: middle;
}