.gmail-img{
	
    margin-top:10px;
    vertical-align: middle;
}

.yahoo-img{
	max-width:10%;
    max-height:10%;
    margin-top:100px;
    vertical-align: middle;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
  max-width:10%;
    max-height:10%;
    margin-top:100px;
    vertical-align: middle;
}
.small-spacing{
  margin-top:40px;
    
}
.odd {
    background-color: white;
    font-weight: bold;
}

.even {
    background-color: #87CEEB;
    font-weight: bold;
}